* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
    height: 70px;
    background-color: #a5fc;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.logo {
    text-decoration: none;
    color: white;
}

.main {
    height: calc(100vh - 70px);
    background: center/ cover no-repeat url(./backondas.jpg);
}

#burguer {
    display: none;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    
    #burguer{
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #a5c;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
}